.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: var(--container-width);
  margin: auto;
  img {
    max-width: 100px;
    @media (max-width: 440px) {
      max-width: 80px;
    }
  }
  button {
    padding: 20px;
    color: white;
    border: none;
    border-radius: 4px;
    text-transform: uppercase;
    background: var(--primary-color);
  }
  .input-block {
    display: flex;
    flex-direction: column;
    gap: 5px;
    input {
      height: 40px;
      padding: 0 10px;
      border-radius: 4px;
      border: 2px solid var(--border-color);
    }
  }
}
.footer {
  display: flex;
  align-items: center;
  align-content: center;
  flex-direction: column;
  gap: 15px;
  .status {
    position: relative;
    display: flex;
    align-items: center;
    gap: 5px;
    &::before {
      display: block;
      content: "";
      width: 10px;
      height: 10px;
      background: red;
      border-radius: 50%;
    }
  }
  .code {
    border: 1px solid var(--border-color);
    border-radius: 5px;
    padding: 15px 30px;
    min-width: 200px;
    text-transform: uppercase;
    text-align: center;
  }
}
